<!doctype html>
<html lang="en">
  <head>
  	<title>Appointment Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/../static/css/style.css">
	<style>

	</style>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			{% if requested %}
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Requested Appointments</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table table-striped">
							<thead>
								<tr>
									<emp>
								<th><b>Patient</b></th>
								<th><b>Doctor</b></th>
								<th><b>Scedule Date</b></th>
								<th><b>Scedule Time</b></th>
								<th><b>Status</b></th>
									</emp>
								</tr>
							</thead>
							<tbody>
								{% for appointment in appointments %}
									{% if appointment.status == "requested" %}
										<tr>
										<th scope="row">{{appointment.patient.Email}}</th>
										<td>{{appointment.doctor.Email}}</td>
										<td>{{appointment.scedule_date}}</td>
										<td>{{appointment.scedule_time}}</td>
										<td>{{appointment.status}}</td>
										{% if person == "doctor" %}
											<td><a href="/update-status/{{appointment.id}}/{{id}}/?status=approved" class="btn btn-success">Accept</a></td>
											<td><a href="/update-status/{{appointment.id}}/{{id}}/?status=denied" class="btn btn-danger">Deny</a></td>
										{% endif %}
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							</table>
							
						</div>
					</div>
				</div>
			{% endif %}
			{% if approved %}
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Approved Appointments</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table table-striped">
							<thead>
								<tr>
									<emp>
								<th><b>Patient</b></th>
								<th><b>Doctor</b></th>
								<th><b>Scedule Date</b></th>
								<th><b>Scedule Time</b></th>
								<th><b>Status</b></th>
									</emp>
								</tr>
							</thead>
							<tbody>
								{% for appointment in appointments %}
									{% if appointment.status == "approved" %}
										<tr>
										<th scope="row">{{appointment.patient.Email}}</th>
										<td>{{appointment.doctor.Email}}</td>
										<td>{{appointment.scedule_date}}</td>
										<td>{{appointment.scedule_time}}</td>
										<td>{{appointment.status}}</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
			{% if denied %}
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Denied Appointments</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table table-striped">
							<thead>
								<tr>
									<emp>
								<th><b>Patient</b></th>
								<th><b>Doctor</b></th>
								<th><b>Scedule Date</b></th>
								<th><b>Scedule Time</b></th>
								<th><b>Status</b></th>
									</emp>
								</tr>
							</thead>
							<tbody>
								{% for appointment in appointments %}
									{% if appointment.status == "denied" %}
										<tr>
										<th scope="row">{{appointment.patient.Email}}</th>
										<td>{{appointment.doctor.Email}}</td>
										<td>{{appointment.scedule_date}}</td>
										<td>{{appointment.scedule_time}}</td>
										<td>{{appointment.status}}</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</section>
	<a class="btn btn-secondary" target="_blank" href="/dashboard-light/{{person}}/?id={{id}}">back</a>

	<script src="/../static/js/jquery.min.js"></script>
  <script src="/../static/js/popper.js"></script>
  <script src="/../static/js/bootstrap.min.js"></script>
  <script src="/../static/js/main.js"></script>

	</body>
</html>

